# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/

# FastF1 cache
cache/
*.ff1pkl
*.sqlite
fastf1_http_cache.sqlite

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
